
.card {
  text-align: center;
  border: none;
  font-size: 35px;
  margin-bottom: 26px;
}


.text-info {
  color: #181f2c !important;
  font-size: 16px;
}

h3 {
    font-size: 1.2rem ;
    font-weight: bold;
    color: #181f2c;
}