<div class="container">
  <app-product-category-list
    *ngIf="productsList"
    [title]="gamesPageInfo.title"
    [productsList]="productsList"
    [description]="gamesPageInfo.description"
  ></app-product-category-list>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="infoPage.total"
      [(page)]="selectPage"
      [pageSize]="infoPage.itemsPage"
      (pageChange)="loadData()"
      [maxSize]="10"
    >
    </ngb-pagination>

  </div>
</div>
