/*======================================================
Colores para el Administrador
========================================================*/

$admin-primary-color: #181F2C !important;
$admin-segundary-color: #0143a3 !important;



/*======================================================
Colores para el Public  (tienda)
========================================================*/
$price-primary: #cc1c39;
$price-discount: #999;



/*======================================================
Colores para el General
========================================================*/
