<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data$ | async">
        <th scope="row">{{ data.id }}</th>
        <td>{{ data.name }}</td>
        <td>{{ data.lastname }}</td>
        <td>{{ data.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
