<div class="container">
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg-6">
      <form (ngSubmit)="add()" #forma="ngForm">
        <h1>Registro de usuario</h1>
        <p>
          Rellena los datos del formulario para efectuar el registro de tu
          cuenta de usuario.
        </p>
        <hr />
        <label for="name"><b>Nombre</b></label>
        <input
          type="text"
          placeholder="Nombre"
          name="name"
          required
          class="form-control"
          [ngClass]="{ 'is-valid': name.invalid, 'is-invalid': name.invalid }"
          #name="ngModel"
          [(ngModel)]="register.name"
        />
        <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div class="" *ngIf= name.errors.required>
            Introdusca un nombre válida por favor
          </div>
        </div>

        <label for="lastname"><b>Apellido/s</b></label>
        <input
          type="text"
          placeholder="Introduzca su apellido/s"
          name="lastname"
          required
          class="form-control"
          [ngClass]="{
            'is-valid': lastname.invalid,
            'is-invalid': lastname.invalid
          }"
          #lastname="ngModel"
          [(ngModel)]="register.lastname"
        />
        <div class="alert alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
          <div class="" *ngIf= lastname.errors.required>
            Introdusca un apellido/s válida por favor
          </div>
        </div>

        <label for="birthday"><b>Fecha de nacimiento</b></label>
        <app-date-picker-legal-age
          (newDate)="dataAsign($event)"
        ></app-date-picker-legal-age>

        <label for="email"><b>Email</b></label>
        <input
          type="text"
          placeholder="Email"
          name="email"
          required
          #email="ngModel"
          [(ngModel)]="register.email"
          class="form-control"
          [ngClass]="{ 'is-valid': email.invalid, 'is-invalid': email.invalid }"
          [pattern]="emailPattern"
        />
        <div
          class="alert alert-danger"
          *ngIf="email.invalid && (email.dirty || email.touched)"
        >
          <div class="" *ngIf="email.errors.required">
            Introduzca un correo electrónico válido por favor
          </div>

          <div class="" *ngIf="email.errors && email.errors.pattern">
            El correo electrónico no sigue el formato correcto. Sigue este
            ejemplo: 'Gamezonia_2020@gmail.com'
          </div>
        </div>

        <label for="password"><b>Password</b></label>
        <input
          type="password"
          placeholder="Password"
          name="password"
          required
          #password="ngModel"
          [(ngModel)]="register.password"
          class="form-control"
          [ngClass]="{
            'is-valid': password.invalid,
            'is-invalid': password.invalid
          }"
        />
        <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
          <div class="" *ngIf= password.errors.required>
            Introdusca una contraseña válida por favor
          </div>
        </div>

        <p>
          By creating an account you agree to our
          <a href="#" style="color: dodgerblue">Terms & Privacy</a>.
        </p>
        <p>
          ¿Ya tiene una cuenta?
          <a [routerLink]="['/login']" style="color: dodgerblue"
            >Iniciar sesión</a
          >.
        </p>
        <div class="row">
          <div class="col-lg">
            <button [disabled]="forma.invalid" type="submit" class="signup-btn">
              Registrarse
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg"></div>
  </div>
</div>
